
#nav.pageScrollerNav.standardNav.top.dark
  .fixed
    %a{:href=>"#"}Home
    %a{:href=>"#"}Services
    %a{:href=>"#"}Values
    %a{:href=>"#"}Contact
  
#wrapper
  #main
    #home.section
      .fixed
        .banner
          =image_tag('innovation_instincts_logo.png', :alt=>'innovation instincts logo', :class=>'logo');
          %h1.company_name="innovation"
          %h1.company_name_line2="instincts, inc"
          %h2.tagline // technology solutions for humans
        
        -# this is the gravatar image for chris@clickonchris.com with size 160x160 (last param)
        -#%img.me{:src=>'http://www.gravatar.com/avatar/619274d3d5f871ff7225f435fb5fc926?s=160', :alt=>'christopher g johnson'}
        =image_tag('chris.jpg', :class=>"me", :alt=>"christopher g johnson")
        %p Hi, I’m Christopher G Johnson.  I love helping business of all sizes to build, launch, and grow their products.
        %p I’ve been building software for 10 years – most of that has been spent consulting.  I’ve worked with tiny startups and giant corporate enterprises.  Along the way I earned an MBA and have launched products of my own.
        %p Full Stack Product Development is what I call my skill set.  In engineering terms, the “full stack” starts with a database and ends with a user interface.  In product development, engineering is just part of the equation; The product developer’s stack also includes customer development through marketing and sales, using analytics to track your progress.
        %p 
          If you want help building your product from someone who understands why you’re building it, then 
          %a.goTo{:href=>"#section-contact", :onclick=>"pageScroller.goTo(4);"} Let’s Talk.
        
        %h2 Companies I've worked with:
        .clear
        
        .companies
          -#= image_tag('companies.gif', :style=>"position:absolute;")
          
          =link_to(image_tag('nuance.png'), "http://nuance.com", :target=>"_blank", :class=>"co_nuance")
          =link_to(image_tag('bcbs.png'), "http://bcbs.com", :target=>"_blank", :class=>"co_bcbs")
          =link_to(image_tag('ftd.png'), "http://ftd.com", :target=>"_blank", :class=>"co_ftd")
          =link_to(image_tag('geneca.png'), "http://geneca.com", :target=>"_blank", :class=>"co_geneca")
          =link_to(image_tag('officemax.png'), "http://officemax.com", :target=>"_blank", :class=>"co_officemax")
          .clear
        
    #services.section
      .fixed
        %h1="Services"
        
        .javaruby
          .images
            =image_tag('java.png', :class=>'java')
            %p
              =image_tag('rails.png', :class=>'rails')
          %ul.services
            %li Custom Software Development with Ruby on Rails and Java
            %li Front End Development - HTML5/CSS/JQuery, Backbone
            %li Enterprise Architecture, SOA
            %li Web Analytics
          .clear   
          
        .mobile
          .images
            =image_tag('mobile.png', :class=>'phone')
          %ul.services
            %li Zero to App Store Development
            %li Cross Platform Deployment with Phonegap
            
        .business
          .images
            =image_tag('handshake.png', :class=>'handshake')
          %ul.services
            %li Team Development, Mentoring
            %li Agile Adoption
            %li SEO Best Practices
            %li Process Improvement, Continuous Integration
        
        
      
      
    #values.section
      .fixed
        %h1="Values"
        
        %h2 Customers First
        %p The most important thing to your business is not your processes or your technology;  It is your customers.  We understand this and will put your customers at the forefront of everything we do.  A project that completes early and under budget but fails to meet your customer’s expectations is still a failure.
      
        %h2 Data Over Opinions
        %p “In God we trust.  Everyone else Bring Data.”  Edward Demming’s words are truer than ever in this golden age of data analytics.  If a user takes an action, it can be measured.  Product decisions should be made with facts and data, not opinions.
      
        %h2 Transparency
        %p There is no secret sauce in what we do.  We’ve just been doing it for a long time and take pride in doing it well.  By the way, we are human and have faults.  We will share our faults with you and ask that you share yours with us.
      
        %h2 Lean Startup Methodology
        %p 
          Our thinking is heavily influenced by the words of 
          %a{:href=>"http://theleanstartup.com/", :target=>"_blank"}Eric Ries 
          and 
          %a{:href=>"http://steveblank.com/", :target=>"_blank"}Steve Blank 
          – and they don’t just apply to startups.  We believe that organization that learns the most about it’s market in the shortest amount of time will be the most successful.  The way to increase the rate of organizational learning is to follow a build-measure-learn cycle and quickly iterate over it.
        .clear &nbsp;
        
    #contact.section
      .fixed
        %h1="Contact"
        
        %p
          Let’s talk!  I promise to respond promptly to all legitimate inquiries.
        %p
          If you are inquiring about my services the next step will be to have a no-pressure phone consultation.  If I’m not the best person to help your business I can help point you in the right direction.
        
        #error
        #success
        %form#contact_form
          

          
          %p
            %label{:for=>"name"} Your Name (required)
            %br
            %input{:name=>"name", :type=>"text"}
          %p
            %label{:for=>"email"} Your Email (required)
            %br
            %input{:name=>"email", :type=>"email"}
          %p
            %label{:for=>"subject"} Subject
            %br
            %input{:name=>"subject", :type=>"text"}
          %p
            %label{:for=>"message"} Your Message
            %br
            %textarea{:name=>"message"}   
          
          %p
            %input{:type=>"submit", :value=>"send", :class=>"fancybutton submit"}
    
    #footer
      Copyright 2013 Innovation Instincts, Inc   
             


:javascript
    $(document).ready(function(){
    
      // initiate page scroller plugin
      $('body').pageScroller({
        navigation: '#nav',
        keyboardControl: true,
        deepLink: true
      });
          
    });