<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @params[:name] %> sent you the following message</p>
    <p><%= @params[:message] %></p>

  </body>
</html>