<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @params[:name] %>, Thanks for filling out the contact form on my website.</p>
    <p>This is an automated email, but hold tight and I will reply as soon as I can </p>
    <p>
      Sincerely,
      <br/>
      Christopher G Johnson
    </p>
  </body>
</html>