@media only screen 
and (min-width : 320px) 
and (max-width : 568px) { 
  
  body {
    font-size:14px;
  }
  
   .fixed {
      width:100%;
    }  
    
  #home,#services,#values,#contact {
    padding:20px 10px 0px 10px;
  }
  
  #nav {
    position:fixed;
    padding:0px;
    height:40px;
    
    a {
      display:none;
      padding:10px;
      border: 1px solid rgb(31,31,31);
      margin:0px;
    }
    
    button.menu {
      display:inline;
      margin: 4px;
      font-size: 25px;
      background-color: rgb(139, 139, 139);
      border: none;
      color: #fff;
      border-radius:5px;
      border: 1px solid rgb(155, 155, 155);
    }
    button.menu:active {
      background-color: rgb(165,165,165);
    }
  }
  

  
  #home {
    
    background-size:1150px;
    height:auto;
    
    .banner {
      height:165px;
      .logo {
        width:60px;
      }
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size:19px;
        top:104px;
        left:18px;
      }
    }
    
    img.me {
      width:130px;
    }
    
    .co_nuance,.co_bcbs,.co_ftd,.co_geneca,.co_officemax {
      position:static;
      top:auto;
      left:auto;
    }
    
  }
  
  #services {
    background-size:auto;
    
    .javaruby, .mobile, .business {
      width:90%;
      padding:10px;
      margin:5px;
      img {
        width:80%;
      }
    }
  }
  
  #values {
    height:auto;
  }
  
  #contact textarea {
    width:90%
  }

  
  
}