/* 
@media only screen 
and (min-width : 768px) and (max-width : 1024px)  { 
*/
@media only screen 
and (min-width : 569px)
and (max-width : 1024px)  { 

  .fixed {
    width:100%;
  }  

  #nav {
    padding:7px 5px;
  }
  

  
  #home,#services,#values,#contact {
    padding:20px 10px 0px 10px;
  }
  
  #home {
    height:auto;
    
    .banner {
      overflow:hidden;
      h1 {
        font-size:50px;
      }
    }
    
    .co_nuance,.co_bcbs,.co_ftd,.co_geneca,.co_officemax {
      position:static;
      top:auto;
      left:auto;
    }
    button.menu {
      display:none;
    }
  }
  
  #services {
    background-size:auto;
    .javaruby, .mobile, .business {
      width:90%;
      margin:10px;
    }

  }
}